html, body {
	height: 100%;
}

#map {
	height: 50%;
	clear: both;
}



#cat-list {
	float: left;
	width: 15%;
	margin-right: 5%;
	padding-left: 0;
	margin-left: -10px;
	margin-top: -10px;
}

#cat {
	float: left;
	width: 80%;
}

ul
{
    list-style-type: none;
}

li {
	height: 35px;
	color: white;
	background-color: black;
	text-align: center;
	padding-top: 7.5px;
}

li:hover {
	color: black;
	background-color: white;
}

ul:first-child {
	padding-top: 0px;
}

img {
	width: 600px;
	height: 550px;
}

#map {
        height: 100%;
      }